<div class="jumbotron">
	<div class="container">
		<h1>Solari</h1>
		<p>最高のチームワークをあなたに。</p>
	</div>
</div>

#サモナー認証
<div>

</div>

#此処から先はサモナー名を入れたら使える
<div>
	<%= link_to "マッチング部屋作成", new_matching_path %>
</div>

<div>
	<%= link_to "マッチング部屋検索", search_matchings_path %>
</div>
