<p id="notice"><%= notice %></p>

<br>

<table>
<tr>
<% @achievements.each do |achievement| %>
  <%= render :partial => 'achievements/achievement_small_fragment' , :locals => { achievement: achievement } %>
<% end %>
</tr>
</table>

